@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}


nav img {
  max-width: 100%;
}

header {
  padding: 20px 5%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav span {
  font-weight: 600;
}

.logo {
  font-size: 20px;
  font-weight: 600;
}

nav img {
  cursor: pointer;
}




.headline {
  height: auto;
  width: 100%;
  background-image: url("./img/mobile-hero-image.svg");
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.headline-content {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  padding: 64px 0;
}

.headline-title{
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}



.headline-content p {
  color: #172b4d;
  font-size: 20px;
  margin:58px 0 120px 0;
  font-weight: 300;
}


.social-media ul {
  display: flex;
  flex-direction: row;
}

.social-media li {
  display: inline-block;
  margin-right: 15px;
  color: #505F79;
}
